.nav-link {
    margin-right: 30px;
    font-size: x-large;

}

.button {
    text-transform: uppercase ;
    border-radius:40px ;
}

h1{
    padding-top: 150px;
}

.card-img {
    max-width: 600px;
}

.card {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    background: rgb(172, 168, 204) ;
}

.card-img-top {
    height: 400px ;
}
    
.jumbotron1 {
    background-color: rgb(172, 168, 204);
    background-size:cover;
    padding-bottom: 30px;
}

.jumbotron2 {
    background-color: rgb(172, 168, 204);

}

.jumbotron3 {
    background-color: rgb(172, 168, 204);
}

#headline {
    height: 150px;
    background-color: rgb(172, 168, 204);
    background-size:cover;
    overflow: hidden;
    margin-top: 60px;
    padding: 30px 0 30px 30px;

}

#tk {
    vertical-align: middle;
    border-style: none;
    padding-left: 65px;
    padding-bottom: 25px;
    width: auto;
    height: 250px;
    max-width: 50%;
    padding-top: 90px;

}

.jumbotron {
    background-color: #E7D19B;
    background-size:cover;
    height : 600px;
}

/* DESKOP VERSION */
@media (min-width: 992px) {
    .nav-link {
        margin-right: 30px;
        
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #f6e793;
        width: 50%;
        margin : auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}